.sidebar {
  background-color: var(--darkgreen-color);
  color: white;
  width: 250px;
  height: auto;
  /* position: fixed; */
  top: 0;
  left: 0;
  transition: transform 0.3s ease; /* 애니메이션 추가 */
  z-index: 0;
  padding: 30px;

}

/* 접힘 상태 */
/* .menuCollapsed {
  max-height: 0; 
} */


/* 항상 보이는 헤더 */
.headeradminside {
  cursor: pointer; /* 클릭 가능하도록 설정 */
  text-align: center;
  padding: 10px 0;
  background-color: var(--darkgreen-color);
}


.logo {
  font-size: 20px;
  margin-bottom: 5px;
}

.email {
  font-size: 14px;
  color: #b8c5c1;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

}

.sectionDivider {
  color: white;
  font-weight: bold;
  font-size: 30px;

  padding: 15px 0 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 15px;

  border-bottom: 2px solid #b8c5c1;
}

.menuHeader {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 8px 0;
  font-size: 20px;
  gap: 8px;
}

.menuHeader img {
  width: 15px;
  height: 15px;
}

.subMenu {
  padding-left: 20px;
  list-style: disc;
  color: #b8c5c1;
  transition: max-height 0.5s ease-in-out; /* 접힘/펼침 애니메이션 */
}

.subMenu li {
  list-style: disc;
}

.subMenu a {
  display: block;
  color: #b8c5c1;
  text-decoration: none;
  padding: 8px 0;
  font-size: 13px;
}

.subMenu a:hover {
  color: white;
}

/* 첫 번째 sectionDivider의 상단 보더 제거 */
.menu > li:first-child .sectionDivider {
  border-top: none;
  margin-top: 0;
}


.collapsed {
  width: 80px; /* 접혔을 때 너비 */
}



/* 반응형 처리 */
@media (max-width: 760px) {
  .sidebar {
    width: 100%;
    height: auto;
    z-index: 100;
  }

  .sidebar.collapsed {
    transform: translateY(-100%); /* 화면 위로 숨김 */
  }

  .sidebar:not(.collapsed) {
    transform: translateY(0); /* 화면 아래로 펼침 */
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; /* 접힘 시 메뉴 숨김 */
    transition: all  2s ease-in-out; /* 메뉴 접힘/펼침 애니메이션 */
  }
}