/* 전체 페이지 컨테이너 */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: "Noto Sans KR", sans-serif;
}

/* 컨테이너 */
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
  padding-top: 120px; /* 제목을 중앙에 위치시키기 위해 적당히 수정 */
  padding-left: 20px;
  padding-right: 20px;
  justify-items: center;
  max-width: 1200px; /* 최대 폭 설정 */
  margin: 0 auto;
}

/* 공지사항 제목 */
.title {
  padding: 40px;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.325px;
  margin-bottom: 20px;
}
.navbarline {
  border-bottom: 1px solid #000;
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.navbar {
  display: flex; /* 플렉스 박스 사용 */
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  gap: 37px; /* 항목 간격을 37px로 설정 */
  padding: 10px 0; /* 상하 여백 */
  font-size: 18px;
  font-weight: 700;
  color: #282828;
  text-align: center;
}

/* 네비게이션 항목 */
.navbaritems {
  color: #282828;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbaritems:hover {
  color: #256e91;
  transform: scale(1.1);
}

.navbaritems:active {
  color: #1d4e6d;
}

/* 활성화된 링크 색상 */
.active {
  color: #256e91;
}

/* 언더라인 */
.underline {
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #256e91;
  transition: left 0.3s ease, width 0.3s ease;
}

/* 카테고리 내용 */
.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
  padding: 20px 0;
  width: 100%;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.content p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}
/* 페이지네이션 버튼 */
.pagination {
  display: flex;
  justify-content: center;

  padding: 40px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: 1px solid #256e91;
  background-color: transparent;
  color: #256e91;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #256e91;
  color: white;
}

.pagination .activePage {
  background-color: #256e91;
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* 리스트 중앙 정렬 */
  width: 100%;
  padding: 20px;
}

.notificationList {
  width: 100%;
  max-width: 942px; /* 리스트의 최대 너비 */
  display: flex;
  flex-direction: column;
  gap: 15px; /* 각 리스트 간 간격 */
}