* {
  font-family: "Noto Sans KR", Helvetica;
}

.refundContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 1.875rem 10vw;
}

.fundingInfos, .transInfos, .FundingInfo, .payInfos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.payInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.gridContainer, .refundGrid, .fundingInfoGrid {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
  align-items: center;
  margin-left: 5px;
}

.gridContainer {
  grid-template-areas: 
    "sender input"
    "recipient input"
    "phoneNumber input"
    "address input"
    "detailAddress input";
}

.refundGrid {
  grid-template-areas: 
    "bank option"
    "num input"
    "name input";
}

.fundingInfoGrid {
  grid-template-areas:
    "email input1"
    "nickname input2"
    "memberId input3"
    "phoneNumber input4";
}

.sender, .recipient, .phoneNumber, .address, .detailAddress,
.bank, .num, .name, .email, .nickname, .memberId, .userphoneNumber {
  font-weight: bold;
  font-size: 1.1rem;
}

.addressInput, .btns {
  display: flex;
  gap: 15px;
}

.inputField, .selectField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 1.1rem;
}

.selectField {
  width: 15%;
  margin-top: 5px;
  border: 2px solid #ccc;
  font-size: 14px;
}

.productName {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.boldText {
  font-weight: normal;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.boldTextCenter {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
}

.btns {
  justify-content: flex-end;
  gap: 10px;
}
