.amountWrapper {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Noto Sans', sans-serif;
}

.coin { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.amountstyle {
  color: #165F83;
}

.percentwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.percentinfo {
  display: flex; /* Flexbox로 변경 */
  justify-content: space-between; /* 양쪽 끝으로 배치 */
  align-items: center; /* 세로로 가운데 정렬 */
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  margin: 30px 0;
  font-weight: bold;
}

.percent {
  text-align: right; /* 오른쪽 정렬 */
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  margin: 30px 0;
  font-weight: bold;
}

.percentAmount {
  color: #165F83; /* 달성률 숫자만 파란색으로 변경 */
}
