.AdminMainPagecontainer {
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.tables {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  
}

.totalMembers {
  color: #256E91;
  font-weight: bold;
}

@media (max-width:900px) {
  .charts, .tables{
    display: flex;
    flex-direction: column;
  }
}
