.qnaBox,
.answerBox {
  width: 100%;
  border-radius: 2px;
  padding: 13px;
  display: grid;
  grid-template-areas:
    "user date"
    "text buttons";
  grid-template-columns: 1fr auto;
  /* align-items: center; */
}

.qnaBox {
  cursor: pointer; /* 질문 박스만 클릭 가능 표시 */
  border: 1px solid var(--line-color);
}

.answerBox {
  background-color: #e4e4e4;
  transition: height 0.6s ease-in-out, opacity 0.3s ease-in-out;
}

.answerBox.show {
  height: auto; /* 답변이 보일 때 높이를 자동으로 설정 */
  opacity: 1; /* 불투명도 1로 설정 */
}

.answerBox.hide {
  height: 0; /* 숨길 때 높이 0으로 설정 */
  opacity: 0; /* 투명하게 설정 */
}

.userInfo {
  grid-area: user;
}

.dateInfo {
  grid-area: date;
  text-align: right;
}

.questionText {
  grid-area: text;
  /* text-align: center; */
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.answerText {
  grid-area: text;
  /* text-align: center; */
}

.editButtons {
  display: flex;
  flex-direction: column;
  justify-self: center;


}

.editInput {
  width: 64vw;
  margin-top: 4px;
  height: 6.7vh;
}