.popup-overlay-comp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content-comp {
    position: relative;
    background: white;
    width: 400px; /* 팝업 너비 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .popup-header-comp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--header-color); /* 검은색 헤더 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .popup-content-comp p {
    margin: 30px 0 20px 0; /* 텍스트 간격 */
    font-size: 16px;
    color: #333;
  }
  
  .popup-button-container-comp {
    display: flex;
    justify-content: center; /* 버튼 중앙 정렬 */

  }
  

  