.container {
    padding: 9px 28px 25px 28px;
    background-color: #282828;
    color: #ffffff;
    font-family: "Noto Sans KR", sans-serif;
    display: grid;
    grid-template:
        'menu1 ... menu2 ... text' 1fr
        'logo logo logo logo logo' 40px
        'copy copy copy copy copy' 13px / 80px 1fr 120px 1fr 8fr;
    gap: 11px;
    width: 100vw;
}

.menu1 {
    grid-area: menu1;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.menu2 {
    display: flex;
    flex-direction: column;
    width: 120px;
    white-space: nowrap;
    grid-area: menu2;
}

.text {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    line-height: 20px;
    grid-area: text;
    white-space: pre-wrap; 
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
    gap: 40px;
    grid-area: logo;
}


.logohead {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    white-space: nowrap; 
}

.logocopylight {
        text-align: center;
        font-size: 11px;
        grid-area: copy;
}

.logohr1 {
        margin-top: 27px;
        margin-left: 0px;
        height: 1px;
        width: 30%;
        background-color: #ffffff;
}

.logohr2 {
    margin-top: 27px;
    margin-right: 0px;
    height: 1px;
    width: 30%;
    background-color: #ffffff;
}

.li {
    margin-top: 11px;
    font-size: 15px;
}

.linkcss {
    text-decoration: none;
    color: #ffffff;
}

.linkcss:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media(max-width: 500px) {
    .container {
        grid-template:
            'menu1 ... menu2' 1fr
            'text text text'
            'logo logo logo' 40px
            'copy copy copy' 13px / 80px 1fr 120px; 
        justify-content: space-between
    }
}