.mainMenu {
    background-color: #232323;
    width: 100vw;    /* 화면 전체 너비로 설정 */
    height: 100vh;   /* 화면 전체 높이로 설정 */
    position: relative;
    overflow: hidden;
}

.menus {
    background-color: white;
    height: 74vh;    /* 높이를 화면 크기에 비례하게 설정 */
    width: 100vw;    /* 너비를 화면 크기에 맞게 설정 */
    position: absolute;
    top: 12vh;       /* 상단에서의 위치를 화면 비율에 맞게 설정 */
    display: flex;
    gap: 5vw;        /* 메뉴 간 간격을 화면 비율에 맞게 설정 */
    align-items: center;
    justify-content: center;
}

/* 1024px 이하 화면에서 스타일 변경 */
@media (max-width: 1024px) {
    .menus {
        flex-direction: column; /* 세로 정렬 */
        gap: 3vh;              /* 세로 간격 */
        height: auto;          /* 높이를 자동으로 설정 */
        padding: 2vh 0;        /* 상하 패딩 추가 */
    }
}
