/* 메인 레이아웃 */
.mainGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  margin: 40px auto;
}

/* 상단 섹션 */
.topSection {
  text-align: center;
  margin-bottom: 20px;
}

/* 중단 섹션 */
.middleSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #256e91;
}

/* 버튼 컨테이너 */
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}


/* 팝업 스타일 */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  z-index: 1000;
}

.popupMessage {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.popupButton {
  background-color: #256e91;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.popupButton:hover {
  background-color: #1d4e6d;
}
