.headerContainer {
  display: grid;
  grid-template-areas: 
    "logo menus search button";
  grid-template-columns: auto 1fr auto auto; /* 각 영역의 비율 설정 */
  align-items: center;
  padding: 15px 20px;
  background-color: var(--header-color);
  color: #fff;
  width: 100%;
  min-width: 400px;
}

.logoAndMenu {
  grid-area: logo; /* 로고를 logo 영역에 배치 */
  display: flex;
  align-items: center;
  gap: 0.2rem; /* 로고와 메뉴 사이 간격 */
  cursor: pointer;
  height: 100%;
}

.logoImage {
  width: 60px; /* 로고 크기 설정 */
  height: 60px;
  background-image: url('./Logo.svg'); /* SVG 파일 경로 확인 */
  background-size: contain; /* 크기 조정 */
  background-repeat: no-repeat; /* 반복 방지 */
  background-position: center; /* 이미지 중앙 정렬 */
}

.menuList {
  grid-area: menus; /* 메뉴를 menus 영역에 배치 */
  display: flex;
  gap: 1.5rem;
}

.searchAndButtons {
  grid-area: search; /* 검색창을 search 영역에 배치 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.buttonContainer {
  grid-area: button; /* 버튼을 button 영역에 배치 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  font-family: var(--eng-font);
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
  background: none;
  border: none;
}

@media (max-width: 920px) {
  .headerContainer {
    grid-template-areas: 
      "logo logo logo logo"
      "menus menus menus menus"
      "search search search button"; /* 검색창과 버튼을 나란히 */
    grid-template-columns: 1fr; /* 한 줄에 전체 차지 */
    gap: 0.5rem;
    
  }

  .logoAndMenu {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
  }

  .searchAndButtons {
    justify-content: center;
    flex-wrap: wrap; /* 검색창과 버튼이 좁아지면 줄바꿈 허용 */
    gap: 1rem;
  }
}
