.maindiv {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 메인 컨텐츠를 중앙 정렬 */
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9; /* 배경색 설정 */
}

.container {
  width: 100%; /* 전체 컨테이너 너비 */

  background-color: #ffffff; /* 박스 배경 */
  border: 2px solid #000; /* 컨테이너 테두리 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */

  display: flex;
  flex-direction: column; /* 세로 정렬 */
}

/* 제목 스타일 */
.title {
  text-align: center;
  font-size: 10vw;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #000;
}

/* 이미지와 버튼 그룹 */
.content {
  display: flex;
  justify-content: space-between; /* 가로 공간 분배 */
  /* align-items: flex-start; */
 
}

/* 이미지 스타일 */
.imageContainer {
  flex: 1; /* 60% 비율 */
  max-width: 60%; /* 이미지 최대 너비 */
  padding: 1rem;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
}

.image {
  width: 100%;
  height: auto; /* 이미지 비율 유지 */
  object-fit: cover; /* 이미지가 컨테이너를 벗어나지 않도록 조정 */
  border: 2px solid #000;
  justify-content: center; /* 세로 가운데 정렬 */
}

/* 버튼 그룹 */
.buttonContainer {
  flex: 1; /* 나머지 40% 비율 */
  display: flex;
  flex-direction: column; /* 세로 정렬 */

  justify-content: center; /* 세로 가운데 정렬 */
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* 화면이 작아지면 세로로 배치 */
    align-items: center;
  }

  .imageContainer {
    max-width: 100%; /* 이미지 너비를 화면에 맞춤 */
  }

  .buttonContainer {
    width: 100%;
    align-items: center; /* 버튼을 중앙 정렬 */
  }
}
