.pageContainer {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 10%;
  width: 100%;
  min-width: 600px;
  max-width: 60%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  padding-left: 4%;
}

.hrDarkToLight {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #333 20%, #ccc 20%);
  border: none;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gridForm {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 3열 그리드 */
  grid-template-areas:
    "label1 input1 ."
    "label7 input7 nickbtn"
    "label2 input2 mailbtn"
    "label3 input3 authbtn"
    "label4 input4 ."
    "label5 input5 ."
    "label6 input6 phonebtn"
    ". btn .";
  gap: 15px; /* 그리드 간격 */
  align-items: center;
  padding: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.label {
  grid-column: span 1;
  font-weight: bold;
  font-size: 14px;
  text-align: start;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
}

.input {
  grid-column: span 2;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fdfdfd;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #256e91;
  box-shadow: 0 0 5px rgba(37, 110, 145, 0.5);
  outline: none;
}

.smallButton {
  grid-column: span 1;
  max-width: 124px;
  width: 100%;
  height: 40px;
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.smallButton:hover {
  background-color: #1b5672;
  transform: scale(1.05);
}

.smallButton:active {
  transform: scale(0.95);
}

.submitButton {
  grid-area: btn;
  width: 100%;
  height: 45px;
  background-color: #256e91;
  color: #fff;
  border: 1px solid #282828;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submitButton:hover {
  background-color: #1b5672;
  transform: scale(1.05);
}

.submitButton:active {
  transform: scale(0.95);
}
